*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
}

.header {
  background-color: limegreen;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.main-content {
  display: flex;
  gap: 2rem;
}

.input-form {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}
